body {
    /* min-width: 20rem;
    max-width: 60rem; */
    width: 40rem;
    overflow: scroll;
}

/* Heading */

#icon {
    width: 20px;
    height: 20px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title_text {
    font-weight: bold;
    font-size: large;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2px;

    align-items: end;
    justify-content: end;
}

.links_inner {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.depth_settings {
    display: flex;
    flex-direction: row;
    /* align-items: end; */
}

#depth_input {
    border: 0;
    border-bottom: 1px solid black;
    width: 3rem;
    text-align: center;
}

/* Search Bar */

#search_div {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-top: 6px;
}

#search_input {
    width: 100%;
    height: 1.5rem;
    padding: 2px 6px;
}

/* Content */

:root {
    --font-size: 0.9rem;
    --max-line-height: 3;
}

.kv_div {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.key,
.value {
    font-size: var(--font-size);
    line-height: var(--font-size);
    font-family: monospace;

    text-overflow: ellipsis;
    white-space: break-spaces;
    word-break: break-all;

    overflow: hidden;

    padding: 2px 4px;
    border: 0px solid transparent;
    border-radius: 3px;
}

.key {
    max-width: 20rem;
    font-weight: bold;
}

.value {
    max-width: 30rem;
}

.trim {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: var(--max-line-height);
    max-height: calc(var(--max-line-height) * var(--font-size));
}

/* icons */
.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
}

.copy_icon,
.bookmark_icon,
.eye_icon {
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    padding: 2px;
    border: 0px solid transparent;
    border-radius: 3px;
}

.copy_icon:hover,
.bookmark_icon:hover,
.eye_icon:hover {
    background-color: #2bbd9f;
    cursor: pointer;
    color: white;
}

.filled_bookmark_icon,
.filled_eye_icon {
    color: #2bbd9f;
}

/* buttons */
#refresh_button,
#search_button {
    position: relative;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden
}

.loading>.spinner {
    visibility: visible;
}

.kv_ul,
.kv_li {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.kv_li:hover>.kv_div>.key {
    background-color: #EDDBC7;
}

.nonleaf_ul:hover>.kv_div>.key:hover {
    background-color: #d2a674;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

li>ul {
    list-style: none;
    padding-left: 20px;
}

.hide_ul_children>ul * {
    display: none;
}

.nonleaf_ul>.kv_div>.visibility {
    position: relative;
}

.nonleaf_ul.hide_ul_children>.kv_div>.visibility::before {
    content: "\2B9E";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nonleaf_ul:not(.hide_ul_children)>.kv_div>.visibility::before {
    content: "\2B9F";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.kv_div {
    position: relative;
}

.copied {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FBA1B7;
    color: white;
    padding: 2px 4px;
    z-index: 99;
    pointer-events: none;
    border: 0px solid transparent;
    border-radius: 5px;
}

.display_none {
    display: none;
}